<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/landing.css">

<div class="container main pt-3">
    <div class="login">
        <form class="validated-form login-form" action="/auth/login" method="POST" autocomplete="off" novalidate>
          <label class="form-label"for="username">Username</label>
          <input class="form-control" type="text" name="username" required autofocus>
          <br>
          <label class="form-label" for="password">Password</label>
          <input class="form-control" type="password" name="password" required>
          <br>
          <button class="bttn">Log In</button>
        </form>
    </div>
</div>

<script src="/js/bootstrapValidation.js"></script>