<% layout("layouts/boilerplate") %>
<div class="container d-flex justify-content-center p-3">
    <div class="card">
        Create your profile:
        <form action="/register">
            <label for="username">Username</label>
            <input type="text" name="username">
            <br>
            <label for="password">Password</label>
            <input type="password" name="password">
            <br>
            <a class="btn btn-info" href="/home">Log In</a>
        </form>
    </div>
</div>
