<% layout("layouts/boilerplate") %>
<div class="container d-flex justify-content-center p-3">
    <div class="card">
        Create your profile:
        <form action="/register" method="POST">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" required autofocus>
            <br>
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" required>
            <br>
            <button class="btn btn-info">Register</button>
        </form>
    </div>
</div>
