<% layout("layouts/boilerplate") %>
<div class="container d-flex justify-content-center p-3">
    <div class="card">
        Create your profile:
        <form action="/auth/register" method="POST" class="validated-form" novalidate>
            <div class="mb-2">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" name="email" required autofocus>   
            </div>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" name="username" required autofocus>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" name="password" required>
            </div>
            <button class="btn btn-info">Register</button>
        </form>
    </div>
</div>
