<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/error.css">


<div class="container-fluid">
    <div class="container">
        <div class="error" role="alert">
            <div class="error-head">
                <h1 class="alert-heading">How did you get here?</h1>
            </div>
            <hr>
            <div class="error-body">
                <p>Nobody's supposed to be here</p>
                <br>
                <img src="/images/404err.gif" alt="">
                <br>
                <a class="back" href="/home">Let's go back</a>
                <!-- <p class="mb-0"><%= err.stack %></p> -->
            </div>
        </div>
    </div>
</div>
