<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/home.css">
<div class="container-fluid">
    <div class="container mt-4 row">
        <ul class="col-md-6">
            <li>
                <div class="card">
                    Here are the things on your feed
                    click <a href="#">here</a> to like 
                    click <a href="#">here</a> to comment 
                </div>
            </li>
            <li>
                <div class="card">
                    Here are the things on your feed
                    click <a href="#">here</a> to like 
                    click <a href="#">here</a> to comment 
                </div>
            </li>
            <li>
                <div class="card">
                    Here are the things on your feed
                    click <a href="#">here</a> to like 
                    click <a href="#">here</a> to comment 
                </div>
            </li>
            <li>
                <div class="card">
                    Here are the things on your feed
                    click <a href="#">here</a> to like 
                    click <a href="#">here</a> to comment 
                </div>                
            </li>
        </ul>
        <div class="col-md-6">
            <div class="card">
                here is your profile avatar along with your other information
                <br>
                click <a href="#">here</a> to view the things you've published
                <br>
                click <a href="#">here</a> to publish something
            </div>
        </div>
    </div>
</div>