<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/home.css">

<div class="container-fluid">
        <div class="container d-flex justify-content-center row">
            <div class="card mb-3 col-md-6">
                <ul>
                    <% for (let post of posts){ %>
                    <li>
                        <h3><%= post.title %></h3>
                        <p><%= post.body.substring(0, 35) + "..." %> View <a href="/posts/<%= post.id %>">more</a></p>
                    </li>
                    <% } %>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="card">
                    here is your profile avatar along with your other information
                    <div class="container">
                        <form action="/posts" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="title">Title</label>
                                <input class="form-control" type="text" name="post[title]" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="body">Thoughts?</label>
                                <textarea class="form-control" type="text" id="body" name="post[body]" required></textarea>
                            </div>
                            <button>Publish</button>
                        </form>
                    </div>
                <a href="/posts/myposts">My posts</a>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/js/bootstrapValidation.js"></script>