<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/landing.css">
<div class="container-fluid area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
    <div class="container main">

        <% if(!currentUser){ %>
          <div class="greeter">
            <div class="welcome-display">
              <div class="intro">
                <span class="logo">micePace</span>
                <p>Connect with people just like any other social media! Log In or Sign up with your friends today!</p>
              </div>
            </div>
            <div class="login">
              <form class="validated-form login-form" action="/auth/login" method="POST" autocomplete="off" novalidate>
                <label class="form-label"for="username">Username</label>
                <input class="form-control" type="text" name="username" required autofocus>
                <br>
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" name="password" required>
                <br>
                <button class="bttn">Log In</button>
              </form>
            </div>
          </div>

            <hr>
            <div class="register">
              <span>Don't have an account? <a href="/auth/register">Register Here</a></span>
              <% } else { %> 
                <a href="/home">Home</a>
              <% } %>
            </div>
            
    </div>
</div>
