<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/landing.css">
<div class="container d-flex justify-content-center p-3">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Welcome!</h5>
          <h6 class="card-subtitle mb-2 text-muted">Find what you're interested in</h6>
          <p class="card-text">Here you can connect with people just like any other social media! Log In or Sign up with your friends today!</p>
          <a href="/login" class="btn btn-light blk card-link">Log In</a>
          <a href="/register" class="btn btn-dark wht card-link">Register</a>
        </div>
      </div>
</div>
<div class="container d-flex justify-content-center p-3">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis est necessitatibus sapiente quidem, molestias excepturi suscipit! Veniam minus, delectus excepturi fugit harum odio corporis repellat. Cupiditate fugit ipsum cum perspiciatis.</p>
</div>