<% layout("layouts/boilerplate") %>
<div class="container-fluid">
    <div class="container d-flex justify-content-center">
        <div class="container mb-3">
            
                <ul>
                    <% for (let post of posts){ %>
                    <li>
                        <h3><%= post.title %></h3>
                        <p><%= post.body %></p>
                    </li>
                    <% } %>
                </ul>
            
            
        </div>
    </div>
</div>