.error-head{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.alert-heading{
    font-size: 40px;
    font-style: bold;
}

.error-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message{
    font-size: 36px;
}

img{
    width: 500px;
    height: 450px;
    border-radius: 20px;
}

.back{
    font-size: 36px;
    text-decoration: none;
    color: black;
}

p{
    font-size: 30px;
    font-style: bold;
}

.back:hover{
    text-decoration: underline;
    font-style: italic;
    transition: 1s;
    
}

@media only screen and (max-width: 1260px) {
    .alert-heading{
        font-size: 36px;
        font-style: bold;
    }
    
    .error-message{
        font-size: 24px;
    }
    
    img{
        width: 400px;
        height: 350px;
        border-radius: 20px;
    }
    
    .back{
        font-size: 16px;
        text-decoration: none;
        color: black;
    }
  }

  @media only screen and (max-width: 435px) {
    .alert-heading{
        font-size: 24px;
        font-style: bold;
    }
    
    .error-message{
        font-size: 16px;
    }
    
    img{
        width: 350px;
        height: 300px;
        border-radius: 20px;
    }
    
    .back{
        font-size: 16px;
        text-decoration: none;
        color: black;
    }
  }