.home-body{
    display: flex;
    flex-basis: 800px;;
}

.for-you{
    flex-basis: 60%;
    flex-grow: 3;
    padding: 40px;
    overflow: auto;
}

.user-profile{
    flex-basis: 23%;
    flex-grow: 1;
    order: -1;
    padding: 40px;
    overflow: auto;
}

.aside{
    flex-basis: 17%;
    flex-grow: 1;
    padding: 40px;
    overflow: auto;
}

.for-you-header{
    display: flex;
    justify-content: center;
}

.pfp{
    height: 270px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.pfp-following{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.pfp-feed{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.post-author{
    color: black;
    text-decoration: none;
}

.post-body{
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 225;
}

.post-date{
    color: gray;
    font-size: 12px;
}

.ad-content{
    padding: 20px;
}

.ad-item{
    padding: 20px;
    width: 250px;
    object-fit: cover;
}

.adphoto{
    height: 150px;
    width: 200px;
    object-fit: cover;
}

.ad-logo{
    height: 50px;
    width: 50px;
}

.item{
    padding: 20px;
}

.bttn{
    background-color: #5C469C;
    height: 60px;
    width: 240px;
    color: white;
    border: none;
    border-radius: 20px;
}

.bttn:hover{
    background-color: #D4ADFC;
    transition: .2s;
}

.bttn-search{
    background-color: #5C469C;
    height: 30px;
    width: 150px;
    color: white;
    border: none;
    border-radius: 20px;
}

.bttn-search:hover{
    background-color: #D4ADFC;
    transition: .2s;
}

.txt{
    border: 1.5px solid #0C134F;
}



@media only screen and (max-width: 1000px) {
    .home-body {
      flex-direction: column;
      flex-grow: 1;
    }
    
    .user-profile {
      order: 0;
    }
    
    .ad-content{
        display: flex;
        justify-content: center;
    }

    .for-you{
        flex-basis: 900px;
        overflow: auto;
    }

}

@media only screen and (max-width: 375px) {
    .aside{
        display: none;
    }

    .post-author{
        font-size: 18px;
    }
    
    .post-body{
    font-size: 12px;
    }

    .section{
        font-size: 12px;
    }
}
