a{
    text-decoration: none;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 30px;
}

.pfp{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.main-content{
    overflow: auto;
}

.main-content-header{
    display: flex;
    justify-content: center;
}

.content-body{
    padding: 20px;
    border-radius: 20px;
}


.bttn{
    display: block;    
    background-color: #5C469C;
    color: white;
    border: none;
    border-radius: 20px;
    width: 115px;
    height: 45px;
    text-align: center;
    padding: 10px;
}

.bttn:hover{
    background-color:  #D4ADFC;
    transition: .1s;
}