<% layout("layouts/boilerplate") %>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1>Hello</h1>
            <% for (let post of foundPosts){  %>
                <li>
                    <%= post.body %>
                </li>
                <% if(currentUser && post.author.equals(currentUser._id)){ %>
                    <li>
                        <a class="btn btn-primary" href="/posts/<%=post._id %>/edit">Edit</a>
                    </li>
                <% } %>
            <% } %>
        </div>
    </div>
</div>